body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rgb-value {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bold;
}

#colour-options {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#colour-options button {
    width: 100px;
    height: 100px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#colour-options button:focus {
    outline: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#colour-options button:hover {
    opacity: 0.8;
}

.hidden {
    display: none;
}

#game-over-container {
    margin-top: 50px;
}

#new-game,
#new-game-over {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

#new-game:hover,
#new-game-over:hover {
    background-color: #3e8e41;
}