@font-face {
    font-family: custom;
    src: url(fonts/Satisfy-Regular.ttf);
}
.bckimg{
    height: 150px;
    width: 1920px;
    position: absolute;
    left: 0%;
    top: 0%;
}
.mid{
    height: 770px;
    width: 1920px;
    background-color: #294B29;
    position: absolute;
    top: 150px;
    left: 0%;
}
h1{
    font-family: custom;
    font-size: 60px;
    color: #180A0A;
    position: absolute;
    left: 760px;
    top: 0px;
    
}
.p1{
    height: 420px;
    width: 330px;
    background-color: #9BCF53;
    position: absolute;
    top: 170px;
    left: 150px;
    border-radius: 10px;

}
h2{
    font-family: custom;
    position: absolute;
    left: 20px;
    top: 10px;
}
h4{
    font-family: custom;
    position: absolute;
    left: 20px;
    top: 60px;
}
.s2{
    font-family: custom;
    position: absolute;
    left: 20px;
    top: 90px;
}
.s3{
    font-family: custom;
    position: absolute;
    left: 20px;
    top: 120px;
}
.p2{
        height: 420px;
        width: 330px;
        background-color: #B2533E;
        position: absolute;
        top: 170px;
        left: 550px;
        border-radius: 10px;
    

}
.p2h{
    position: absolute;
    left: 82px;
}
.l1{

    width: 200px;
    border-width: 2px;
    border-style: double;
    position: absolute;
    top: 100px;
    left: 60px;
}
.l2{
    width: 200px;
    border-width: 2px;
    border-style: double;
    position: absolute;
    top: 140px;
    left: 60px;
}
.l3{
    width: 200px;
    border-width: 2px;
    border-style: double;
    position: absolute;
    top: 180px;
    left: 60px;
}
.l4{
    width: 200px;
    border-width: 2px;
    border-style: double;
    position: absolute;
    top: 220px;
    left: 60px;
}
.l5{
    width: 200px;
    border-width: 2px;
    border-style: double;
    position: absolute;
    top: 260px;
    left: 60px;
}
.p3{
        height: 420px;
        width: 530px;
        background-color: #A4D0A4;
        position: absolute;
        top: 170px;
        left: 960px;
        border-radius: 10px;
}
.ch{
    position: absolute;
    left: 70px;
    top: 35px;
}
.l6{
    width: 530px;
    border-width: 2px;
    border-style: double;
    color: #294B29;
    position: absolute;
    top: 110px;
    left: 0px;
}
.cp2{
    font-family: custom;
    font-weight: bold;
    position: absolute;
    left: 45px;
    top: 130px;
    font-size: 20px;

}
.cp3{
    font-family: custom;
    position: absolute;
    top: 180px;
    left: 55px;
}
.cp4{
    font-family: custom;
    position: absolute;
    top: 220px;
    left: 55px;
}
.cp5{
    font-family: custom;
    position: absolute;
    top: 260px;
    left: 53px;
}
.cp6{
    font-family: custom;
    position: absolute;
    top: 300px;
    left: 53px;
}
.cp7{
    font-family: custom;
    position: absolute;
    top: 340px;
    left: 53px;
}
.p4{
    height: 190px;
    width: 290px;
    background-color: #DF7857;
    position: absolute;
    top: 170px;
    left: 1570px;
    border-radius: 10px;
}
.p4h{
    position: absolute;
    left: 90px;
    top: 50px;
}
.p5{
    height: 190px;
    width: 290px;
    background-color: #90B77D;
    position: absolute;
    top: 400px;
    left: 1570px;
    border-radius: 10px;
}
.p5h{
    position: absolute;
    left: 100px;
    top: 38px;
}