@font-face {
    font-family: custom;
    src: url(fonts/Caveat-Bold.ttf);
}
@font-face {
    font-family: custom2;
    src: url(fonts/Caveat-SemiBold.ttf);
}
body{
    background-color: #EEB76B;
}
h1{
    font-family: custom;
    font-size: 60px;
    position: absolute;
    top: 15px;
    left: 740px;
}
.A{
    height: 570px;
    width: 370px;
    position: absolute;
    top: 270px;
    left: 180px;
   
}
.img1{
    border-style: solid;
    position: absolute;
    left: 1px;
    filter: invert(100%);
}
.B{
    height: 580px;
    width: 380px;
    position: absolute;
    top: 270px;
    left: 770px;
   
}
.img2{
    border-style: solid;
    border-width: 10px;
    position: absolute;
    left: 1px;
    filter: grayscale(100%);

}
.alt{
    color: black;
    position: absolute;
    top: 470px;
    left: 125px;
    font-family: custom2;
    font-size: 35px;
    font-weight: bold;
}
.alt2{
    color: black;
    position: absolute;
    top: 490px;
    left: 104px;
    font-family: custom;
    font-size: 32px;


}
.alt3{
    color: black;
    position: absolute;
    top: 470px;
    left: 148px;
    font-family: custom2;
    font-size: 35px;
    font-weight: bold;
}
.alt4{
    color: black;
    position: absolute;
    top: 490px;
    left: 138px;
    font-family: custom;
    font-size: 32px;


}
.C{
    height: 580px;
    width: 380px;
    position: absolute;
    top: 270px;
    left: 1350px;
}
.img3{
    border-style: groove;
    border-width: 10px;
    position: absolute;
    left: 1px;
    filter: brightness(60%);
}
.alt5{
    color: black;
    position: absolute;
    top: 470px;
    left: 140px;
    font-family: custom2;
    font-size: 35px;
    font-weight: bold;
}
.alt6{
    color: black;
    position: absolute;
    top: 490px;
    left: 138px;
    font-family: custom;
    font-size: 32px;


}
.copyright{
    color: black;
    font-family: custom;
    justify-content: center;
    position: absolute;
    bottom: 8px;
    left: 840px;
}